/*  The Css reset part was made by Eric Meyer
	http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 16px;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of "Css reset" */
@font-face{
	font-family: 'hammersmith';
  	src: url('fonts/HammersmithOne-Regular.ttf');
}
@font-face{
	font-family: 'passionone';
  	src: url('fonts/PassionOne-Regular.ttf');
}

@font-face{
	font-family: 'audiowide';
  	src: url('fonts/Audiowide-Regular.ttf');
}
@font-face{
	font-family: 'electrolize';
  	src: url('fonts/Electrolize-Regular.ttf');
}
@font-face{
	font-family: 'orbitron';
  	src: url('fonts/Orbitron-Regular.ttf');
}
@font-face{
	font-family: 'specialelite';
  	src: url('fonts/SpecialElite.ttf');
}
p, h1, h2, h3,legend,span  {
	color:white;
}
body {
	line-height: 1;
	background:url(../pics/background-body.jpg)no-repeat center fixed;
	background-size:cover;
}



/*header*/
#header{
	display: block;
    margin-left: auto;
    margin-right: auto;
    background-position:center;
	background-image:url(../pics/xodiastora.jpg);
	background-size:contain;
	height:70px;
	background-repeat:no-repeat;
	text-align:center;
}

/*header*/





/*container*/
#container {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: auto;
	max-width: 960px;
	overflow: hidden;
	background-color: rgba(50, 71, 89, );
}

/*container*/






/*navigation*/
#navigation{
	text-align:center;

}
#navigation ul{
	text-align:center;

}


#navigation li li {
	border: 1px solid black;
	background-color: #FF3801;
	text-decoration: none;
	color: black;
	display: inline-block;
	width: auto;
	border-radius: 15px;
	box-shadow: 5px 4px 5px black;
	
}

#navigation a{
	text-align:center;
	    min-width:40px;
		text-decoration:none;
		color:black;
		width:auto;
		height:40px;
		display:block;
		padding:6px;
}

#navigationrow1{
	display: block;
	width:100%;
	margin-bottom:3px;


}
#navigationrow2{
	display: block;
	width:100%;


}

#navigation span{
	font-size:150%;
	text-align:center;
	font-family:"passionone";
	color:black;
	
}
#dropdownmenu{
	display:none;
}
/*navigation*/




/*bookingmap*/
#resetstorage, #updateseats,  #continuebutton{
	font-weight:bold;
	font-family:"electrolize";
	margin-right:auto;
	margin-left:auto;
	width:100px;
	text-decoration:none;
	color:black;
	background-color: #FF3801;
	padding:5px;
	margin:0px 30px 30px 30px;
	border:1px solid black;
	border-radius:5px;
	box-shadow: 5px 4px 5px black;
}

#map {
	background-repeat:no-repeat;
	background-size:contain;
	background-image:url(../pics/xodiautanplatser.png);
	overflow:scroll;
	margin-bottom:50px;
	border: 1px solid black;
}
/*bookingmap*/



/*content*/
#content {

	overflow:auto;
}
#content h1{
	font-size:200%;
	font-family:"orbitron";
	text-shadow: 2px 6px 5px rgba(0,0,0,0.8);
	margin-bottom:50px;
	margin-top:20px;
	line-height:1.5;
}
#content h2{
	font-size:150%;
	font-family:"orbitron";
	text-shadow: 2px 6px 5px rgba(0,0,0,0.5);
	margin-bottom:40px;
}

#content h3{
	margin-left:auto;
	margin-right:auto;
	font-size:100%;
	font-family:"orbitron";
	text-shadow: 2px 6px 5px rgba(0,0,0,0.5);
	margin-bottom:20px;
	margin-top:20px;
	max-width:60%;
}


#content p{
	margin-bottom:10px;
}
/*content*/


/*galleribilder*/
.gallerixodia1 {
	width: 30%;
	margin: 10px;
}
/*galleribilder*/


/*Startsida*/
#startsidatext p {
	width:90%;
	margin-left:auto;
	margin-right:auto;
}
#bracketsimg{
	margin-left:auto;
	margin-right:auto;
	display:block;
	height:auto;
	width:100%;
	border-radius:10px;
	margin-bottom:50px;
}
#bracketdesc{
	margin-bottom:10px;
	margin-top:10px;
	font-weight:bold;
}
/*Startsida*/




/*turneringar*/
.gamesUl p {
	margin:5px 0px 20px 0px;
}
.registreringbutton{
	font-family:"electrolize";
	margin-right:auto;
	margin-left:auto;
	width:40%;
	display:block;
	text-decoration:none;
	color:black;
	background-color: #FF3801;
	padding:5px;
	margin-bottom:40px;
	transition:background-color 0.5s;
	border:1px solid black;
	border-radius:5px;
	box-shadow: 5px 4px 5px black;
}
/*turneringar*/


/*turneringarbilder*/
#starcraftbilden, #csgobilden, #dota2bilden, #hearthstonebilden {
	width: 65%;
	background-size: contain;
	background-repeat: no-repeat;
	text-align: center;
	margin: 10px;
	border-radius: 40px;
	border: 7px solid #C3D5E1;
	margin-top:40px;
}
/*turneringarbilder*/


/*formulär*/

#emailForm {
	width:300px;
}
form span {
	display: inline;
	font-family: "hammersmith";
}

form input {
	display: block;
	margin-bottom: 10px;
}
#lastNameBox, #firstNameBox, #emailBox, #ageBox{
	margin-left:auto;
	margin-right:auto;
}
.inputMindre {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#postnumbertriangle {
	display: inline;
}
#confirmMessage div {
	display:block;
	vertical-align:middle;
	width:300px;

}
.popup {
	border: 3px solid orange;
	display:block;
	background-color: #C6D9E1;
	line-height:3;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
	margin-top:320px;
} 
.popupLeft {
	float:left
	
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	display: none;
	background: rgba(0, 0, 0, 0.7);
}
/*formulär*/