/*  The Css reset part was made by Eric Meyer
	http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 16px;
	vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


@font-face{
	font-family: 'hammersmith';
  	src: url('fonts/HammersmithOne-Regular.ttf');
}
@font-face{
	font-family: 'passionone';
  	src: url('fonts/PassionOne-Regular.ttf');
}




#container {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: auto;
	max-width: 960px;
	background-color: rgba(50, 71, 89, 0.1);
	overflow: hidden;
}

#header {
	background-position: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-image: url(../pics/xodiastor.jpg);
	background-color: white;
	min-height: 300px;
	width: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	text-align: center;
}

#navigation {
	font-family:"passionone";
	display: block;
	text-align: center;
	font-size:120%;
}

#navigation ul {
	display: block;
	width: auto;
	margin-bottom: 3px;
	margin-top: 5px;
}

#navigation li li {
	margin: 5px;
	border: 1px solid black;
	background-color: #E16C59;
	text-decoration: none;
	color: black;
	display: inline-block;
	width: auto;
	border-radius: 15px;
	box-shadow: 5px 4px 5px black;
}

#navigation li a {
	min-width: 100px;
	text-decoration: none;
	color: black;
	width: auto;
	display: block;
	font-size: 150%;
	padding: 15px;
}

#navigationrow1 {
	display: inline-block;
	width: auto;
	margin: 0px;
}

#navigationrow2 {
	display: inline-block;
	width: auto;
	margin: 0px;
}

#content {
	overflow: hidden;
}

.gamesHeader {
	font-size: 60px;
}

.gamesRow1 {
	font-size: 30px;
	text-align: left;
	padding: 0px 0px 0px 80px;
}

.gamesRow2 {
	font-size: 30px;
	text-align: left;
	padding: 0px 0px 0px 80px;
}

.gamesRow3 {
	font-size: 30px;
	text-align: left;
	padding: 0px 0px 0px 80px;
}

.gamesRow4 {
	font-size: 30px;
	text-align: left;
	padding: 0px 0px 0px 80px;
}

#starcraftbilden {
	width: 65%;
	background-size: contain;
	background-repeat: no-repeat;
	text-align: center;
	margin: 10px;
	border-radius: 80px;
	border: 14px solid gray;
}

#csgobilden {
	width: 65%;
	background-size: contain;
	background-repeat: no-repeat;
	text-align: center;
	margin: 10px;
	border-radius: 80px;
	border: 14px solid gray;
}

#dota2bilden {
	width: 65%;
	background-size: contain;
	background-repeat: no-repeat;
	text-align: center;
	margin: 10px;
	border-radius: 80px;
	border: 14px solid gray;
}

#hearthstonebilden {
	width: 65%;
	background-size: contain;
	background-repeat: no-repeat;
	text-align: center;
	margin: 10px;
	border-radius: 80px;
	border: 14px solid gray;
}

.divoverflow {
	overflow: hidden;
}

<<<<<<< HEAD
#map {
	border: 1px solid black;
}

=======
.divoverflow li {
	display: inline-block;
}


a{
	
}
#map {
	border:1px solid black;
}


>>>>>>> 9b35965b337215a8ef0b53c0dc6d4a1d6a5c243e
.galleribilder {
	width: 40%;
	background-size: contain;
	background-repeat: no-repeat;
	text-align: center;
	margin: 10px;
}

.gallerixodia1 {
	width: 30%;
	margin: 10px;
}
<<<<<<< HEAD

#faqtext {
	text-align: center;
	line-height: 2;
}
.gamesUl p {
	margin:5px 0px 20px 0px;
}
=======

form span{
	display:inline;
	font-family:"hammersmith";
}

form input{
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;
}
>>>>>>> 9b35965b337215a8ef0b53c0dc6d4a1d6a5c243e
